@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    background-color: #000000;
    color: #ffffff
}

body {
    /* text-align: center; */
    font-family: Nunito, sans-serif;
}

h1 {
    font-size: 148px;
}

p, span {
    font-size: 24px;
}

code {
    font-family: monospace;
    white-space: pre;
}

a {
    color: #ffffff;
}

.centerMiddle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.collapsible {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

.collapsible:hover {
    background-color: #111;
}

.content {
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: "\002B";
    float: left;
}

.active:after {
    content: "\2212";
    float: left;
}